body
{
	margin: auto;
	padding: auto;
}
li
{
	list-style: none;
	margin-left: -40px;
	margin-top: 10px;
}
a:link
{ 
 text-decoration:none; 
} 
#navheader a:hover
{
  border-top: 3px solid blue;
}
@font-face{
    font-family: "raleway";
    src:url("../PROJET 2/Raleway/Raleway-VariableFont_wght.ttf");
}
/*toute les parties du header */;
header
{
	height: 150px;
}
#logoreservia
{
	margin-left: 50px;
	margin-top: 30px;
}
#navheader
{
	width: 400px;
	height: 80px;
	float: right;
	display: flex;
	justify-content: space-around;
	margin-right: 30px;
}
#hebergements,#activité,#sinscrire
{
	display: flex;
	align-items: center;
	width: 100%;
}
#activité
{
	padding-left: 50px;
}
#block
{
	width: 600px;
	margin-left: 50px;
	display: flex;
	height: 50px;
}
#logoinfo
{
	margin-right:10px;
	border: 2px solid #deebff;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0000ff;
	margin-top: 10px;
}
#textinfo
{
	font-size: 1.2em;
}
/*toute les parties du NAV*/
#navh1
{
	padding-top: 30px;
}
#nav1
 {
 	margin: 0;
 	font-weight: bold;
 	font-size: 1.6em;
 	margin-left: 50px;
 	padding-top: 30px;
 }
 #nav2
 {
 	margin: 0;
 	font-size: 1em;
 	padding-top: 10px;
 	margin-left: 50px;

 }
#nav3
{
	margin-left: 50px;
	width: auto;
	display: flex;
	flex-direction: row;
}

h1,h2,p,a
{
	font-family: "Raleway", "Sans serif";
}



#logomaps
{
	border: solid 1px #f2f2f2;
	height: 48px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 15px 0px 0px 15px;
}
#input
 {
 	border: solid 1px #f2f2f2;
 	height: 50px;
 	padding-left: 2%;
 	font-size: 1em;
 	font-weight: bold;
 	color: black;

 }
#rechercher
{
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
#searchbutton
{
	height: 50px;
	width: 140px;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	border: solid 2px #0065FC ;
}
#searchbar
{
	margin-top: 20px;
}
#button
{
	margin: 50px;
	display: flex;
	margin-top: 20px;
	width: 70%;
	margin-top: 30px;
}
#filtres
{
	font-size: 1em;
}
.logo1
{
	border: 2px solid #F2F2F2 ;
	border-radius: 20px;
	margin-left: 3%;
	display: flex;
	height: 40px;
}
.economique
{
	display: flex;
	align-items: center;
	font-weight: bold;
	color: black;
	padding-left: 15px;
	padding-right: 10px;
}
.moneylogo
{
	border: solid 3px #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 100px;
	padding-top: 12px;
	width: 40px;
	text-align: center;
	margin-left: -2px;
	color: #0065FC;
}

#font-info
{
	font-size: 1em;
	margin-left: 50px;
}
/*toutes les parties de la section 1*/
#section1
 {
 	height: 850px;
 	display: flex;
 }
.container1
{
 	background-color: #f2f2f2;
 	width: 840px;
 	border-radius: 20px 20px 20px 20px;
	margin-left: 45px;	
	margin: 50px;
}
 .container2
 {
 	background-color: #f2f2f2;
 	height: 750px;
 	width: 410px;
 	margin-top: 50px;
 	margin-right: 50px;
 	border-radius: 20px;
 }
 #article1
 {
 	width: 100%;
 	height: 80%;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-around;
 	align-items: center;
 }
.img
 {
 	height: 130px;
 	width: 230px;
 	border-radius: 15px 15px 0px 0px;
 	object-fit: cover;
 }
.item
{
	border : solid 5px white;
	border-radius: 15px;
	background-color: white;
}
.one , .two 
{
	
	margin: 0;
	margin-left: 10px;
	color: black;
}
.three
{
	margin-top: 7px;
	margin-left: 10px;
	color: #0065fc;

}
#title1
{
	margin-left: 30px;
	padding-top: 3%;
}
.img2
{
	height:140px;
	width:110px;
	object-fit: cover;
}
#float
{
	float: right;
	margin-right: 100px;
}
 #afficherplus
 {
 	margin-left: 20px;
 	font-size: 1.3em;
 	color: black;
 	font-weight: bold;
 }
/*toutes les parties du aside*/
#img-aside
{
	width: 140px;
	height: 140px;
	float: left;
	border-radius: 15px 0px 0px 15px;
	object-fit: cover;
}
.block1
{
	border:solid white 5px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	margin-top: 12%;
	width: 80%;
	margin-left: 10%;
	background-color: white;
}
.h2
{
	font-size: 1em;
	color: black;
}
.nuit
{
	color: black;
}
 #populaires
 {
 	width: 85%;
 	margin-left: 10%;
 	padding-top: 3%;
 	display: flex;
 	justify-content: space-between;
 	padding-top: 10%;

 }

 .price
 {
 	font-weight: bold;
 }
 .block2
 {
 	width: 50%;
 	float: right;
 
 }
 .fontawesome
 {
 	color: #0065fc;
 }
/*toutes les parties de la section 2*/
#activityh2
{
	margin-left: 50px;
}
#container3
{
	display: flex;
	justify-content: space-around;
	margin:2%;
}
.child
{
	border-radius:  20px 20px  20px 20px;
	box-shadow: 0 0 15px grey ;
	width: 280px;
}
.child2
{
	border-radius:  20px 20px  20px 20px;
	box-shadow: 0 0 15px grey ;
	margin-top: 100px;
}
#test
{
	display: flex;
	flex-direction: column;
}
#test1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.h2photo
{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 1.2em;	
	color: black;	
}
.photoXl
{
	height: 90%;
	width: 280px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}
.photoL
{
	width: 280px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}
.photoS
{
	width: 280px;
	height: 100px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}
.photoM
{
	width: 280px;
	height: 150px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}
/*toutes les parties du FOOTER*/
footer
{
	height: 200px;
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	background-color:#f2f2f2; 
}
.footer1, .footer2 , .footer3
 {
 	margin:130px;
 	margin-left: 50px;
 	margin-top: 20px;
 }
 .color
 {
 	color: black;
 }